$color-light-gray: #F7F7F7;
$color-white: #FFFFFF;
$color-gray: #808994;
$color-dark-gray: #393B44;
$color--red: #FF3442;
$color--dark-red: #EC494A;
$color--light-pink:#EC494B36;
$color--silver: #81818129;
$color--dim-gray:#393B44;
$color--gainsboro:#E9EAEC
