@use "/src/assets/scss/colors" as *;
@use "/src/assets/scss/mixins/mixins" as *;
@use "/src/assets/scss/sizes" as *;

.container-characters {
  margin: 0px $size-88;
  padding: 0px;
  margin-bottom: 10rem;
  .logo-content {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    margin-bottom: 4.63rem;
    input {
      width: 50%;
      height: $size-40;
      border-radius: 1.5rem;
      box-shadow: 0rem 0.19rem $size-10 $color--silver;
      border: 1px;
      padding: $size-10 1.88rem;
      outline: none;
      &:focus {
        border: 1px solid $color-gray;
      }
    }
  }
  .characters-order {
    display: flex;
    gap: $size-10;
    align-items: baseline;
    h3 {
      font-family: "Poppins-Regular";
      font-size: $size-24;
    }
    margin-bottom: $size-40;
  }
  .characters-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $size-40 $size-10;
    .character {
      position: relative;
      .heart-icon {
        position: absolute;
        right: 0;
        z-index: 100;
        background: $color-white;
        opacity: 0.5;
        width: 53px;
        height: 62px;
        border-radius: $size-10;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $size-10;
        img {
          width: $size-24;
          height: $size-24;
          background-size: cover;
          display: inline-block;
          transition: 0.2s;
        }
      }
      img {
        border-radius: $size-10;
        width: 256px;
        height: 349px;
        opacity: 0.75;
      }
      .text-overlay {
        border-radius: $size-10;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: end;
        background: transparent
          linear-gradient(180deg, #ffffff00 0%, #ffffffba 51%, #ffffffc1 100%)
          0% 0% no-repeat padding-box;
        h6 {
          font-family: "Poppins-Bold";
          font-size: 29px;
          color: $color-dark-gray;
          margin-bottom: 0.25rem;
          margin: 0px 0px $size-20 $size-20;
        }
      }
    }
  }

  @include medium {
    margin: 0px;
    .logo-content {
      margin-top: 27px;
      display: flex;
      img {
        width: 118px;
      }
    }
    padding: 0px $size-20;
    h2 {
      font-size: 1.125rem;
    }
    .characters-order {
      justify-content: end;
      h3 {
        display: none;
      }
    }

    .characters-list {
      gap: $size-20 $size-10;

      .character {
        .heart-icon {
          border-radius: 5px;
          width: $size-24;
          height: 28px;
          img {
            width: $size-18;
            height: $size-18;
            background-size: cover;
            display: inline-block;
            transition: 0.2s;
          }
        }
        img {
          width: 156px;
          height: 210px;
        }
        .text-overlay {
          h6 {
            font-size: $size-18;
            margin: 0px 0px $size-10 $size-10;
          }
        }
      }
    }

    .search {
      margin: $size-40 0px;
      input {
        box-shadow: 0px 3px $size-10 #81818129;
        width: 100%;
        height: 48px;
      }
    }
  }
}
