// XX-small smartphones (landscape view)
$screen-xxs: 295px;

// X-small smartphones (landscape view)
$screen-xs: 395px;

// Small smartphones (landscape view)
$screen-sm: 576px;

// Medium tablets (portrait view)
$screen-md: 767px;

// Large Tablets and small desktops
$screen-lg: 991.98px;

// Large Tablets and small desktops
$screen-ml: 1024px;

// Extra-Large tablets and desktops
$screen-xl: 1200px;

// Extra-Large tablets and desktops
$screen-xxl: 1350px;
