@use "/src/assets/scss/colors" as *;
@use "/src/assets/scss/mixins/mixins" as *;
@use "/src/assets/scss/sizes" as *;

.carousel-container {
  margin: 0px $size-88;
}

h2 {
  font-family: "Poppins-Bold";
  margin-bottom: $size-10;
  color: $color-dark-gray;
  font-size: $size-40;
}
.slider-container {
  padding: $size-48 $size-88;
  margin-top: 6rem;
  background: $color-white;
  .slider {
    margin-top: $size-40;
  }
  hr {
    border: 0;
    border-bottom: 0.125rem solid $color--gainsboro;
    background: $color--gainsboro;
  }
}

.characters-container {
  margin: $size-48 $size-88;
}

@include medium {
  .carousel-container,
  .characters-container {
    margin: 0px;
  }
  .slider-container,
  .characters-container {
    padding: 0px $size-20;
    margin-top: $size-20;
    background: $color-light-gray;
    h2 {
      font-size: 1.125rem;
    }
  }
  .search {
    display: none;
  }
}
